.form {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

button {
    width: 100%;
    margin-bottom: .2rem;
}

.full-width {
    width: 100%;
}